.modal-wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 8;
    background-color: rgb(0, 0, 0, 0.1);

    &.without-shadow {
        background-color: transparent;
    }
}

.modal-container {
    position: fixed;
    z-index: 10;
    padding: 25px;
    background-color: var(--deep-bg);

    &.centered {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.modal-container .label {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: var(--secondary-text);

    & .close-icon {
        cursor: pointer;
    }
}
