@use "styles/basics";

.createRoom {
    position: fixed;
    bottom: 25px;
    right: 13px;
    animation: scaleUp 1.5s ease-in-out 2s infinite alternate;
    z-index: 1;

    & .createBtn {
        border-radius: 10px;
        text-transform: capitalize;
        font-size: 0.9rem;
    }

    @include basics.media-query(m) {
        bottom: 20px;
        right: 4px;

        & .createBtn {
            padding: 7px 20px;
        }
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.98);
    }
    to {
        transform: scale(1);
    }
}

.createRoomModal {
    bottom: 85px;
    right: 14px;
    z-index: 2;

    @include basics.media-query(m) {
        bottom: 75px;
        right: 4px;
    }
}

.createRoomModal > form {
    display: flex;
    flex-direction: column;
    width: 600px;

    & > * {
        width: 100%;
    }

    & > * {
        margin: 7px 0;
    }

    & button[type="submit"] {
        padding: 10px;
        font-size: 0.9rem;
    }

    @include basics.media-query(m) {
        width: 83vw;
    }
}

.privateCheck {
    font-weight: 600;
    color: var(--secondary);
}
