.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgba(var(--inverse-bg-rgb), 0.05);
    }
    100% {
        background-color: rgba(var(--inverse-bg-rgb), 0.15);
    }
}
