@use "styles/basics.scss";

/* Flex default styles with pattern --displaytype-justifycontent-alignItems-flexDirection-- */
@mixin display-system(
    $display,
    $just-cont: flex-start,
    $align-items: center,
    $flex-dir: row
) {
    display: $display;
    justify-content: $just-cont;
    align-items: $align-items;
    flex-direction: $flex-dir;
}

.flex {
    display: flex;
}
.flexcol {
    display: flex;
    flex-direction: column;
}
.flex-c-c {
    @include display-system(flex, center);
}
.flex-fs-c {
    @include display-system(flex);
}
.flex-fe-c {
    @include display-system(flex, flex-end);
}
.flex-se-c {
    @include display-system(flex, space-evenly);
}
.flex-sb-c {
    @include display-system(flex, space-between);
}
.flex-sa-c {
    @include display-system(flex, space-around);
}
.flex-sb-fs {
    @include display-system(flex, space-between, flex-start);
}
.flex-sb-fe {
    @include display-system(flex, space-between, flex-end);
}
.flexcol-fs-fs {
    @include display-system(flex, flex-start, flex-start, column);
}
.flexcol-sb-fs {
    @include display-system(flex, space-between, flex-start, column);
}
.flexcol-sa-c {
    @include display-system(flex, space-around, center, column);
}
.flexcol-c-c {
    @include display-system(flex, center, center, column);
}
.flexcol-c-u {
    @include display-system(flex, center, unset, column);
}
.grid-c {
    display: grid;
    place-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.gap {
    gap: 1rem;
}

.icon-wrapper {
    @include display-system(flex, center, flex-start);
    gap: 5px;
}

.card {
    padding: 1.5rem;
    background-color: var(--card-bg);

    @include basics.media-query(s) {
        padding: 0.9rem 0.85rem;
    }
}

.paper {
    box-shadow: rgba(var(--inverse-bg-rgb), 0.2) 0px 2px 1px -1px,
        rgba(var(--inverse-bg-rgb), 0.14) 0px 1px 1px 0px,
        rgba(var(--inverse-bg-rgb), 0.12) 0px 1px 3px 0px;
}

.relative {
    position: relative;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    visibility: hidden;
}

.transparent {
    background-color: transparent;
}

.full {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
