@use "styles/basics.scss";

/* Flex default styles with pattern --displaytype-justifycontent-alignItems-flexDirection-- */
@mixin display-system(
    $display,
    $just-cont: flex-start,
    $align-items: center,
    $flex-dir: row
) {
    display: $display;
    justify-content: $just-cont;
    align-items: $align-items;
    flex-direction: $flex-dir;
}

.flex {
    display: flex;
}
.flexcol {
    display: flex;
    flex-direction: column;
}
.flex-c-c {
    @include display-system(flex, center);
}
.flex-fs-c {
    @include display-system(flex);
}
.flex-fe-c {
    @include display-system(flex, flex-end);
}
.flex-se-c {
    @include display-system(flex, space-evenly);
}
.flex-sb-c {
    @include display-system(flex, space-between);
}
.flex-sa-c {
    @include display-system(flex, space-around);
}
.flex-sb-fs {
    @include display-system(flex, space-between, flex-start);
}
.flex-sb-fe {
    @include display-system(flex, space-between, flex-end);
}
.flexcol-fs-fs {
    @include display-system(flex, flex-start, flex-start, column);
}
.flexcol-sb-fs {
    @include display-system(flex, space-between, flex-start, column);
}
.flexcol-sa-c {
    @include display-system(flex, space-around, center, column);
}
.flexcol-c-c {
    @include display-system(flex, center, center, column);
}
.flexcol-c-u {
    @include display-system(flex, center, unset, column);
}
.grid-c {
    display: grid;
    place-items: center;
}
.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 1rem;
}

// Keyframe animations
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes pop-down {
    from {
        top: 10%;
    }

    to {
        top: 50%;
    }
}
@keyframes fade-down {
    from {
        top: 45%;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

.icon-wrapper {
    @include display-system(flex, center, flex-start);
    gap: 5px;
}

.card {
    padding: 1.5rem;
    background-color: var(--card-bg);

    @include basics.media-query(s) {
        padding: 0.9rem 0.85rem;
    }
}

.round,
.round-sm {
    border-radius: var(--border-radius-sm);
}
.round-md {
    border-radius: var(--border-radius-md);
}
.round-lg {
    border-radius: var(--border-radius-lg);
}

.shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.shadow-light {
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.3);
}
.shadow-basic {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
.shadow-high {
    box-shadow: 0 10px 25px #00000080;
}
.paper {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
        rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.outlined {
    outline: 1px solid rgb(235, 235, 235);
}
