@use "./basics";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap");

@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

// Colors
$prime-green: #1bb67d;
$gold: #fda212;
$danger: #fc0000;
$white: #ffff;
$white50: #fafafa;
$black: #000;
$darkgrey: #4b4a4a;
$skyblue: #090d21;
$lightgrey: #d3d3d3;

:root {
    // Theme colors
    --primary: #{$prime-green};
    --primary-rgb: #{hexToRGB($prime-green)};

    --secondary: #{$gold};
    --secondary-rgb: #{hexToRGB($gold)};

    --danger: #{$danger};
    --danger-rgb: #{hexToRGB($danger)};

    // Others
    --bg: #{$white50};
    --primary-text: #{$black};
    --secondary-text: #{$darkgrey};
    --white: #{$white};
    --lightgrey: #{$lightgrey};
    --card-bg: #{$white};

    --header-height: 12vh;
    --subheader-height: 10vh;

    --border-radius-sm: 5px;
    --border-radius-md: 8px;
    --border-radius-lg: 11px;

    --font-normal: 400;
    --font-semibold: 500;
    --font-bold: 600;

    --button-sx: 6.5rem;
    --button-small: 9.5rem;
    --button-medium: 12.5rem;
    --button-large: 15.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 120%;
}

html,
body {
    font-family: "Josefin Sans";
    color: var(--primary-text);
    background-color: var(--bg);
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    height: var(--header-height);
    background-color: rgba(var(--primary-rgb), 0.04);
}

.full {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.fluid {
    max-width: 60rem;
    margin: auto;
    width: 100%;
    padding: 0 3rem;

    @include basics.media-query(m) {
        padding: 0 2rem;
    }

    @include basics.media-query(s) {
        padding: 4px;
    }
}

.relative {
    position: relative;
}
