@use "./utils";

.secondary-text {
    color: var(--secondary-text);
}

.normal {
    font-weight: var(--font-normal);
}
.semibold {
    font-weight: var(--font-semibold);
}
.bold {
    font-weight: var(--font-bold);
}

button {
    border: none;
    transition: 0.3s ease;
    border-radius: var(--border-radius-sm);
    width: var(--button-medium);
    max-width: var(--button-large);
    color: var(--white);
    padding: 0.85rem 0;
    font-weight: var(--font-bold);

    &.basic {
        background-color: transparent;
        color: var(--black);

        &:hover {
            background-color: transparent;
            color: var(--black);
        }
    }

    &,
    &.primary {
        background-color: var(--primary);
        @include utils.outlinedBtn(var(--primary));
    }
    &.secondary {
        background-color: var(--secondary);
        @include utils.outlinedBtn(var(--secondary));
    }
    &.danger {
        background-color: var(--danger);
        @include utils.outlinedBtn(var(--danger));
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            opacity: 0.65;
            cursor: not-allowed;
        }
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    &:active {
        opacity: 0.96;
    }

    &.sx {
        width: var(--button-sx);
    }
    &.small {
        width: var(--button-small);
    }
    &.medium {
        width: var(--button-medium);
    }
    &.large {
        width: var(--button-large);
    }
}

input,
textarea {
    background-color: var(--bg);
    color: var(--primary-text);
}

input,
textarea,
input.primary,
textarea.primary {
    border: none;
    padding: 13px;
    border-radius: 3px;
    box-shadow: rgba(var(--inverse-bg-rgb), 0.09) 0px 0px 0px 1.3px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

input.secondary,
textarea.secondary {
    border: 0.2px solid rgba(var(--inverse-bg-rgb), 0.3);
    border-radius: 2px;
    padding: 7px 10px;
    font-size: 0.75rem;

    &:focus {
        outline: none;
        border: 1px solid rgba(var(--inverse-bg-rgb), 0.6);
    }
}

.round,
.round-sm {
    border-radius: var(--border-radius-sm);
}
.round-md {
    border-radius: var(--border-radius-md);
}
.round-lg {
    border-radius: var(--border-radius-lg);
}

.shadow {
    box-shadow: 0 10px 20px var(--shadow-color);
}
.shadow-light {
    box-shadow: 0 0.5px 2px var(--shadow-color);
}
.shadow-basic {
    box-shadow: 0 3px 6px var(--shadow-color);
}
.shadow-high {
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
}

.outlined {
    outline: 1px solid rgba(var(--inverse-bg-rgb), 0.3);
}
.outlined-light {
    outline: 1px solid rgba(var(--inverse-bg-rgb), 0.1);
}
